.article-card {
  margin: 0;
  position: relative;
  text-align: left;

  img {
    border-radius: $border-radius;
  }

  &-date {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    text-transform: capitalize;
    padding: 6px 15px 4px;
    border-radius: 50px;
    background-color: #fff;
    display: inline-block;
  }

  figcaption {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;

    a {
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover,
      &:active {
        color: $link-hover;
      }
    }
  }
}
