.breadcrumb {
  li {
    margin-right: 20px;
    position: relative;

    a {
      text-decoration: none;
      color: $red;

      &:hover,
      &:active {
        color: $red-hover;
      }
    }

    &::before {
      content: "/";
      position: absolute;
      top: 0;
      right: -14px;
    }

    &:last-child {
      margin-right: 0;

      &::before {
        display: none;
      }
    }
  }
}
