.modal-title {
  font-size: 16px;
  font-weight: 700;
}

.modal-header .btn-close {
  font-size: 10px;
  line-height: 1;
  color: #000;
  opacity: 0.2;

  &:active,
  &:hover {
    opacity: 1;
  }
}

.modal-custom {
  max-width: 600px;
}

.modal-terms-label {
  font-size: 13px;
}
