.btn {
  border: none;
  transition: background-color 0.3s ease-in-out;
  border-radius: 6px;
  line-height: 1;
  font-size: 15px;
  min-height: 48px;
  padding: 11px 15px 9px;
  text-align: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  svg {
    flex-shrink: 0;
  }

  &-pill {
    border-radius: 30px;
  }

  &-small {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    min-height: auto;
  }

  &-big {
    min-height: 54px;
  }
}

.btn-primary {
  background-color: $red;

  svg {
    fill: #fff;
  }

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $red-hover !important;
  }
}

.btn-secondary {
  background-color: $yellow;
  color: $link-color;

  svg {
    fill: $link-color;
  }

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $yellow-hover !important;
    color: $link-color !important;
  }
}

.btn-light {
  background-color: #fff;

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $grey-extralight !important;
  }
}

.btn-outline-light {
  background-color: #fff;
  border: 1px solid $link-color;
  color: $link-color;

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $link-color !important;
    border-color: $link-color !important;
    color: #fff !important;

    svg {
      fill: #fff;
    }
  }
}

.btn-outline-neon-green {
  background-color: #fff;
  border: 1px solid $neon-green;
  color: $neon-green;

  svg {
    fill: $neon-green;
  }

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $neon-green !important;
    border-color: $neon-green !important;
    color: #fff !important;

    svg {
      fill: #fff;
    }
  }
}

.btn-outline-green {
  background-color: #fff;
  border: 1px solid $green;
  color: $green;

  svg {
    fill: $green;
  }

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $green !important;
    border-color: $green !important;
    color: #fff !important;

    svg {
      fill: #fff;
    }
  }
}

.btn-neon-green {
  background-color: $neon-green;
  color: #fff;

  svg {
    fill: #fff;
  }

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $neon-green-hover !important;
    color: #fff !important;
  }
}

.btn-green {
  background-color: $green;
  color: #fff;

  svg {
    fill: #fff;
  }

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $neon-green-hover !important;
    color: #fff !important;
  }
}

.btn-outline-light-blue {
  background-color: #fff;
  border: 1px solid $blue-waze;
  color: $blue-waze;

  svg {
    fill: $blue-waze;
  }

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $blue-waze !important;
    border-color: $blue-waze !important;
    color: #fff !important;

    svg {
      fill: #fff;
    }
  }
}

.btn-light-blue {
  background-color: $blue-waze;
  color: #fff;

  svg {
    fill: #fff;
  }

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    background-color: $blue-waze-hover !important;
    color: #fff !important;
  }
}

.btn-dark svg {
  fill: #fff;
}

.btn-link {
  padding: 0;
  min-height: auto;
  text-decoration: none;
  color: $red;

  svg {
    fill: $red;
  }

  &:active,
  &:hover,
  &:first-child:active,
  &:focus-visible {
    color: $red !important;
    text-decoration: underline;
  }

  &.btn-arrow {
    &:active,
    &:hover,
    &:first-child:active,
    &:focus-visible {
      text-decoration: none;
    }
  }
}

.btn-shuffle {
  gap: 8px;

  svg {
    width: 14px;
    height: 14px;
    fill: #fff;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }

  &:active,
  &:hover {
    svg {
      transform: translateX(2px);
    }
  }
}

.btn-search {
  padding-left: 25px;
  padding-right: 25px;

  svg {
    width: 14px;
    height: 14px;
    fill: #fff;
    position: relative;
    top: -2px;
  }

  &-circle {
    padding: 0;
    width: 56px;
    height: 56px;

    svg {
      margin-right: 0;
      width: 16px;
      height: 16px;
      top: 0;

      @include media-breakpoint-down(md) {
        top: -2px;
      }
    }
  }
}

.btn-arrow {
  svg {
    width: 14px;
    height: 16px;
    position: relative;
    top: -1px;
    transition: transform 0.3s ease-in-out;
  }

  &:active,
  &:hover {
    svg {
      transform: translateX(2px);
    }
  }
}

.btn-extern {
  svg {
    width: 17px;
    height: 17px;
    position: relative;
    top: -1px;
    transition: transform 0.3s ease-in-out;
  }

  &:active,
  &:hover {
    svg {
      transform: translateX(2px);
    }
  }
}

.btn-200 {
  width: 200px;
}

.btn-300 {
  width: 300px;
}

.btn-sticky-mobile {
  @include media-breakpoint-down(md) {
    position: fixed;
    bottom: 20px;
    width: 320px !important;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
}
