.form-check {
  margin-bottom: 5px;
  padding-left: 30px;

  .form-check-input {
    margin-top: 0;
    width: 20px;
    height: 20px;
    margin-left: -30px;

    &:checked {
      background-color: $gen-color;
      border-color: $gen-color;
    }
  }

  @include media-breakpoint-down(md) {
    padding-left: 40px !important;
    min-height: 30px;

    .form-check-input {
      width: 30px;
      height: 30px;
      margin-left: -40px !important;
    }

    .form-check-label {
      padding-top: 6px;
    }
  }
}

.form-check-label {
  cursor: pointer;
  padding-top: 1px;
}

.form-floating > label {
  color: #555;
  padding-top: 14px;
  font-size: 14px;
}

.form-floating > .form-control {
  padding-top: 14px;
  font-size: 14px;
  height: 50px;
  min-height: 50px;
}

.form-floating > .form-control.form-control-area {
  height: 150px;
}

.form-select-custom {
  font-size: 14px;
  color: #555;
  padding-top: 14px;
  padding-bottom: 13px;
}

/* Prevent green highlight and checkmark for valid but non-required fields, selects, checkboxes, and radios */
.was-validated .form-control:valid:not([required]),
.was-validated .form-select:valid:not([required]),
.was-validated .form-check-input:valid:not([required]) {
  border-color: inherit; /* Reset the border color to default */
  background-image: none; /* Remove the green checkmark icon */
  box-shadow: none; /* Remove the green box-shadow (for checkboxes and radios) */
}

.dark-border {
  border-color: $grey-medium-3;
}

// .form-control:focus {
//   box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
// }
