body {
  font-size: 15px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.container-xxxl {
  @include make-container();

  @media (min-width: 1855px) {
    max-width: 1854px;
  }
}

.container-general {
  @include make-container();

  @media (min-width: 1455px) {
    max-width: 1454px;
  }
}

.component-block {
  margin-top: 100px;

  @include media-breakpoint-down(sm) {
    margin-top: 70px;
  }
}

.dropdown-toggle {
  padding-right: 20px;
  position: relative;

  &::after {
    display: inline-block;
    background-image: url("../assets/images/angle-down-regular.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    content: "";
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    width: 13px;
    height: 12px;
  }
}

.scroll-to-top {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $red;
  border: none;
  transition: background-color 0.3s ease-in-out;
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  &:hover,
  &:active {
    background-color: $red-hover;

    svg {
      transform: translateY(-2px);
    }
  }

  svg {
    fill: #fff;
    width: 17px;
    height: 17px;
    transition: transform 0.3s ease-in-out;
  }
}

.content-interior {
  padding: 30px 0 0;
}
