body {
  font-size: 15px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.container-xxxl {
  @include make-container();

  @media (min-width: 1855px) {
    max-width: 1854px;
  }
}

.container-general {
  @include make-container();

  @media (min-width: 1455px) {
    max-width: 1454px;
  }
}

.component-block {
  margin-top: 100px;

  @include media-breakpoint-down(sm) {
    margin-top: 70px;
  }
}

.dropdown-toggle {
  padding-right: 20px;
  position: relative;
  color: $gen-color;

  &::after {
    display: inline-block;
    background-image: url("../assets/images/angle-down-regular.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    content: "";
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    width: 13px;
    height: 12px;
  }
}

.scroll-to-top {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $red;
  border: none;
  transition: background-color 0.3s ease-in-out;
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 5;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active {
    background-color: $red-hover;

    svg {
      transform: translateY(-2px);
    }
  }

  svg {
    fill: #fff;
    width: 17px;
    height: 17px;
    transition: transform 0.3s ease-in-out;
  }
}

.content-interior {
  padding: 30px 0 0;
}

.page-link.active,
.active > .page-link {
  background-color: $gen-color;
  border-color: $gen-color;
}

.pagination {
  @media (max-width: 640px) {
    flex-wrap: wrap;
    position: relative;
    padding-top: 45px;
    justify-content: center;

    .page-item {
      .page-link {
        border: none;
      }

      &:first-child,
      &:last-child {
        order: 0;
        position: absolute;
        top: 0;

        .page-link {
          border-radius: 30px;
          width: 50px;
          border: var(--bs-pagination-border-width) solid
            var(--bs-pagination-border-color);
        }
      }

      &:first-child {
        left: 50%;
        transform: translateX(-60px);
      }

      &:last-child {
        right: 50%;
        transform: translateX(60px);
      }

      &:not(:first-child) .page-link {
        background-color: transparent;
        color: $gen-color;
      }

      &.active {
        .page-link {
          color: $red;
          font-weight: 700;
        }
      }
    }
  }
}

/* Remove arrows in WebKit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Fix IOS Zoom in on focus */
@media (max-width: 768px) {
  input[type="text"],
  input[type="number"],
  input[type="search"],
  textarea {
    font-size: 16px !important;
  }
}

.rounded-generic-card {
  border-radius: $border-radius;
  padding: 15px;
  border: 1px solid $grey-extralight-2;
}

.gen-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
