.visually-hidden-focusable:focus,
.visually-hidden-focusable:focus-within {
  display: inline-block;
  padding: 5px 10px;
  background-color: #050b20;
  text-align: center;
  color: #fff;
  text-decoration: none;

  @include media-breakpoint-down(lg) {
    display: block;
    width: 100%;
  }
}

.red {
  color: $red;
}
